body, html {height: 100%; margin: 0; font: 400 18px/1.8 "Lato", sans-serif; color: #000;}
body {background-image: url("../img/img_crown.jpg"); background-attachment: fixed; background-position: center; background-repeat: no-repeat; background-size: cover;}
form {display: inline-block;}

table {margin-right: auto; margin-left: auto;} /* Format for table */
table.resultTab { width: 100%; text-align: center;}
table.normal { width: 100%; padding-left: 20px; padding-right: 20px;}

h5 {text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;}

.td1{text-align: right; padding: 15px;}

.caption {position: absolute; left: 0; width: 100%; text-align: center; color: #fff;}
.caption span.border {background-color: #111; color: #fff; padding: 18px;}

.floating-menu {background: grey; padding: 5px; width: 100%; z-index: 100; position: fixed; opacity: 0.6; text-align: center;}
.floating-menu a, .floating-menu h3 {font-size: 0.9em; display: block; margin: 0 0.5em; color: white;}

.floatb-menu {background: grey; padding: 5px; bottom: 0px; width: 100%; z-index: 100; position: fixed; opacity: 0.6;}
.floatb-menu a, .floating-menu h3 {font-size: 0.9em; display: block; margin: 0 0.5em; color: white}

.menuButton {display: inline-block; height: 24px; width: 80px; text-align: center; margin: -0.2em 0.5em;} /* Formatting for the navigation hyperlinks */
.menu {display: inline-block; text-align: center; font-size: 14px; font-weight: bold; margin: 0 0.5em;} /* Formatting for the navigation hyperlinks */
.menu:hover {background: #aaa} 

button {background-color: #444; color: white; padding: 6px 6px; border: none; cursor: pointer; margin: auto;} /*button style */
button:hover {opacity: 0.8;}

/* Style the button and place it in the middle of the container/image */
.fsButton {position: absolute; bottom: 5%; transform: translate(-50%, -50%); 
    -ms-transform: translate(-50%, -50%); background-color: #555; color: white;
    font-size: 14px; padding: 12px; border: none; cursor: pointer; position: fixed; opacity: 0.3;}

@media  (min-width: 960px) 
{
    .caption span.border{font-size: 3vw;} 
    .floating-menu {font-size: 32px; padding: 5px; width: 100%; height: auto;}
    .topBar, .midBar, .btmBar {background-attachment: scroll}
    .buttonMov {height: 12vh; width: 100%;}
}

@media (max-width: 959px) 
{
    .caption span.border{font-size: 2vw;}
    .floating-menu {font-size: 0.3em; padding: 5px; width: 100%; height: auto}
    .topBar, .midBar, .btmBar {background-attachment: scroll}
    .fsButton{bottom: 12%;}
}

@media (max-width: 480px) 
{
    .caption span.border{font-size: 2vw;} 
    .floating-menu {font-size: 1em; padding: 5px; width: 100%; height: auto}
    .topBar, .midBar, .btmBar {background-attachment: scroll}
    .fsButton {bottom: 12%;}
}

@media screen and (orientation: landscape)
{
    .fsButton {left: 90%;}
}

@media screen and (orientation: portrait)
{
    .fsButton {left: 85%;}
}
/* end of CSS */